@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
  font-family: a4;
  src: url('../src/assets/fonts/a4.woff2')
}

@font-face {
  font-family: u4;
  src: url(../src/assets/fonts/u4.woff2);
}

@font-face {
  font-family: u7;
  src: url(../src/assets/fonts/u7.woff2);
}

@font-face {
  font-family: u8;
  src: url(../src/assets/fonts/u8.woff2);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

html, body{
  height: 100%;
  width: 100%;
}

span{
  display: inline-block;
}